body {
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-row: 1;
    text-align: center;
    padding: 20px;
    background-color: #222;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5em;
    margin: 0;
}

p {
    font-size: 1.2em;
}

main {
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

audio {
    margin-bottom: 20px;
}

.download-button {
    display: inline-block;
    padding: 15px 30px;
    background: linear-gradient(to bottom, #cccccc, #999999);
    color: #000;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    transition: background 0.3s;
    font-family: 'Orbitron', sans-serif;
}

.download-button:hover {
    background: linear-gradient(to bottom, #bbbbbb, #888888);
}

footer {
    grid-row: 3;
    text-align: center;
    padding: 10px;
    background-color: #222;
}